@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{

    background-color: #C9EEFF;
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: #186d85;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
}

.navigation a{
    
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    color: #19A7CE;
}

.navigation a:hover{
    color:#146C94;
    font-size: 1.4em;
}
/*________________________________*/
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;               /*first*/
    align-items: center;         /*2third*/
    background: url(imagzs/computer-3174729_1920.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #C9EEFF;
}
.main h2{
    color: #C9EEFF;
    font-size: 1.5rem;
    font-weight: 500;
}
.main h2 span{
    display: inline block;
    margin-top: 10px;
    color:#62CDFF;
    font-size: 3em;
    font-weight: 600;

}
.main h3 {
    color: #C9EEFF;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #19A7CE;
    background-color:#C9EEFF;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.93em 2.18em;
    letter-spacing: 1px;
    border-radius: 12px;
    margin-bottom: 40px;
    transition: 1.2s ease;
}

.main-btn:hover{
    color: blue;
    transform: scale(1.1);   
}

.social-icons a{
    color: #C9EEFF;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.9s ease ;
}

.social-icons a:hover{
    
    font-size: 2em;
}
/*------------------- end Main section -------------__ new section__*/ 

.title{
    display: flex;
    justify-content: center;
    color: #19A7CE;
    font-size: 2.2em ;
    font-weight: 800;
    margin-bottom: 38px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card{
    background-color: #C9EEFF;
    width: 22em;
    box-shadow: 0 5px 30px  rgba(1, 1, 1.5, 100%);
    border-radius: 10px;
    padding: 25px;
    margin: 19px;
    transition: 1.2s ease;

}
.cards{
    background-image: url(imagzs/background-1747777.jpg);
    background-attachment: fixed;                                                   
}
.card:hover{
    transition: 1.2s ease;
    transform: scale(1.1);
}

.icon{
    color:#146C94;
    font-size: 6em;
    text-align: center;

}
.info {
    text-align: center;
}

.info h3{
    color: #146C94;
    font-size: 1.4em;
    font-weight: 700;
    margin: 10px;


}
.info p{
    margin: 18px;
    text-align: center;
    font-weight: 500;
    color: black;
    margin: 20px;
}